body {
  @include font-family(ff-bau-regular);
  @include font-size(regular);
  @include font-weight(regular);
  line-height: normal;
  letter-spacing: normal;
  color: color(dark);
  font-feature-settings: 'kern';
}

html {
  text-rendering: optimizelegibility;
  font-family: system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
  scroll-behavior: smooth;
  touch-action: manipulation;
}
