// freight-display-pro
@import url('https://use.typekit.net/aml4crq.css');

// FF Bau
@font-face {
  font-family: 'FF Bau Regular';
  src: url('https://cdn.shopify.com/s/files/1/0044/1237/5107/t/1/assets/3A0D89_1_0.woff2')
    format('woff2');
}

@font-face {
  font-family: 'FF Bau Medium';
  src: url('https://cdn.shopify.com/s/files/1/0044/1237/5107/t/1/assets/3A0D89_0_0.woff2')
    format('woff2');
}

// icomoon
@font-face {
  font-family: 'icomoon';
  font-weight: normal;
  font-style: normal;
  src: url('../../fonts/icomoon/icomoon.eot#iefix') format('embedded-opentype'),
    url('../../fonts/icomoon/icomoon.ttf') format('truetype'),
    url('../../fonts/icomoon/icomoon.woff') format('woff'),
    url('../../fonts/icomoon/icomoon.svg') format('svg');
  font-display: block;
}
