.heading {
  @include respond(small) {
    @include font-size(m-large);
  }

  @include font-weight(regular);
  @include font-size(x-large);
  @include font-family(freight-display);
  margin-bottom: 1.5rem;
  line-height: 1.25;
  color: color(black);
}

.paragraph {
  @include respond(small) {
    @include font-size(small);
  }

  @include font-family(ff-bau-regular);
  @include font-size(regular);
  @include font-weight(regular);
  line-height: 1.5;
  letter-spacing: 0.2px;
  color: color(grey);
}
