$colors: (
  black: #000,
  dark: #2b2e2b,
  grey: #f5f5f4,
  light-grey: #f8f9fa,
  primary: #4b5548,
  red: #f00,
  white: #fff
);

$font-families: (
  freight-display: 'freight-display-pro',
  ff-bau-regular: 'FF Bau Regular',
  ff-bau-medium: 'FF Bau Medium'
);

$font-weights: (
  light: 300,
  regular: 400,
  semi-bold: 600,
  bold: 700
);

$font-sizes: (
  xx-small: 10px,
  x-small: 12px,
  small: 14px,
  regular: 16px,
  medium: 20px,
  large: 24px,
  m-large: 32px,
  x-large: 50px,
  xx-large: 96px
);
